# replication

.DS_Store
.vscode/
*.png

## Environment variables
replication/.env

## Python
replication/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.py~

## venv
replication/.venv/
replication/venv/

# replication-ctl
replication-ctl/target/
