# replication

## Environment variables
replication/.env

## Python
replication/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.py~

## venv
replication/.venv/
replication/venv/

# replication-ctl
replication-ctl/target/

## test report data
replication-ctl/BLFWD-*.pdf
